telethon
python-dotenv
psutil
opencv-python-headless
devgagantools
aiofiles
kurigram
aiohttp
telethon-tgcrypto
pytz
Pillow
tgcrypto-pyrofork
flask
werkzeug==2.2.2
mutagen
yt-dlp
requests
cryptography
asyncpg==0.30.0